extends layout 

block content 
  div.family-detail-content
    h2.name #{family.name}

    p.info #[span Info:] #{family.info}.
    
    a.update(href=`${family.url}/update`) Update
    a.delete(href=`${family.url}/delete`) Delete