extends layout 

block content 
  div.monster-metrics-content
    h2 Metrics

    ul 
      li 
        p Total Families: #{family_count}
      li 
        p Total Monsters: #{monster_count}
      li 
        p Total Monster Instances: #{monster_instance_count}
      li 
        p Total Skills: #{skill_count}