extends layout 

block content 
  div.skill-list-content
    h2 All Skills

    ul
      each skill in skill_list 
        li 
          p #[a.name(href=skill.url) #{skill.name}] - #{skill.info}.
      else 
        p There are no skills.