/* Home Page/Monster Metrics */
.monster-metrics-content ul {
  list-style: none;
}

.monster-metrics-content li a {
  color: black;
}

.monster-metrics-content li {
  font-size: 1.3rem;
  font-weight: bold;
}

/* Monster List */
.monster-list-content ul {
  list-style: none;
  display: grid;
  border: 1px solid black;
}

.monster-list-content li {
  padding: 4px;
  border-top: 1px solid black;
}
.monster-list-content li:nth-child(1) {
  border-top: none;
}

.monster-list-content li:nth-child(2n) {
  background-color: rgb(231, 231, 231);
}

.monster-list-content li:nth-child(2n - 1) {
  background-color: rgb(202, 202, 202);
}

.monster-list-content li a {
  color: black;
  vertical-align: bottom;
}

.monster-list-content li p {
  margin: 0;
}

.monster-list-content .name {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}

/* Monster Detail */
.monster-detail-content .family {
  color: black;
  font-size: 1.25rem;
}

.monster-detail-content .info {
  font-size: 1.15rem;
}

.monster-detail-content .info span {
  font-style: normal;
  font-weight: bold;
}

.monster-detail-content .skills {
  font-weight: bold;
  font-size: 1.15rem;
  list-style: none;
}

.monster-detail-content .skills .skill-name {
  font-weight: bold;
  color: black;
}

.monster-detail-content .skills li {
  font-weight: normal;
  font-size: 1rem;
}

.monster-detail-content .stock {
  font-size: 1.15rem;
  font-weight: bold;
}

.monster-detail-content .update {
  margin-right: 10px;
}

/* Family List */
.family-list-content ul {
  list-style: none;
  display: grid;
  border: 1px solid black;
}

.family-list-content li {
  padding: 4px;
  border-top: 1px solid black;
}
.family-list-content li:nth-child(1) {
  border-top: none;
}

.family-list-content li:nth-child(2n) {
  background-color: rgb(231, 231, 231);
}

.family-list-content li:nth-child(2n - 1) {
  background-color: rgb(202, 202, 202);
}

.family-list-content li a {
  color: black;
}

.family-list-content li p {
  margin: 0;
}

.family-list-content .name {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}

/* Family Detail */
.family-detail-content .info {
  font-size: 1.15rem;
}

.family-detail-content .info span {
  font-style: normal;
  font-weight: bold;
}

.family-detail-content .update {
  margin-right: 10px;
}

/* Skill List */
.skill-list-content ul {
  list-style: none;
  display: grid;
  border: 1px solid black;
}

.skill-list-content li {
  padding: 4px;
  border-top: 1px solid black;
}
.skill-list-content li:nth-child(1) {
  border-top: none;
}

.skill-list-content li:nth-child(2n) {
  background-color: rgb(231, 231, 231);
}

.skill-list-content li:nth-child(2n - 1) {
  background-color: rgb(202, 202, 202);
}

.skill-list-content li a {
  color: black;
}

.skill-list-content li p {
  margin: 0;
  font-size: 1.1rem;
}

.skill-list-content .name {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}

/* Skill Detail */
.skill-detail-content .info,
.skill-detail-content .magic-cost {
  font-size: 1.15rem;
}

.skill-detail-content .info span,
.skill-detail-content .magic-cost span {
  font-style: normal;
  font-weight: bold;
}

.skill-detail-content .update {
  margin-right: 10px;
}

/* Monster Instance List */
.monsterinstance-list-content ul {
  list-style: none;
  display: grid;
  border: 1px solid black;
}

.monsterinstance-list-content li {
  padding: 4px;
  border-top: 1px solid black;
}
.monsterinstance-list-content li:nth-child(1) {
  border-top: none;
}

.monsterinstance-list-content li:nth-child(2n) {
  background-color: rgb(231, 231, 231);
}

.monsterinstance-list-content li:nth-child(2n - 1) {
  background-color: rgb(202, 202, 202);
}

.monsterinstance-list-content li a {
  color: black;
}

.monsterinstance-list-content li p {
  margin: 0;
  font-size: 1.1rem;
}

.monsterinstance-list-content .nickname {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}

/* Monster Instance Detail */
.monsterinstance-detail-content .monster {
  color: black;
  font-size: 1.25rem;
}

.monsterinstance-detail-content .stats {
  padding: 13px 0;
}

.monsterinstance-detail-content .stats li {
  font-weight: normal;
  font-size: 1rem;
  padding: 5px 0;
}

.monsterinstance-detail-content .stats li p {
  margin: 0;
}

.monsterinstance-detail-content .stats li span {
  font-weight: bold;
}

.monsterinstance-detail-content .skills,
.monsterinstance-detail-content .stats {
  font-weight: bold;
  font-size: 1.15rem;
  list-style: none;
}

.monsterinstance-detail-content .skills .skill-name {
  font-weight: bold;
  color: black;
}

.monsterinstance-detail-content .skills li {
  font-weight: normal;
  font-size: 1rem;
}

.monsterinstance-detail-content .update {
  margin-right: 10px;
}

/* Monster Create */
.monster-create-content form {
  display: grid;
  row-gap: 20px;
}
.monster-create-content .form-section {
  display: grid;
  row-gap: 8px;
  font-size: 1.15rem;
  font-weight: bold;
}

.monster-create-content .form-section ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.monster-create-content input,
.monster-create-content select,
.monster-create-content textarea {
  font-size: 1.1rem;
}

.monster-create-content #submit {
  height: 40px;
}

/* Family Create */

.family-create-content form {
  display: grid;
  row-gap: 20px;
}
.family-create-content .form-section {
  display: grid;
  row-gap: 8px;
  font-size: 1.15rem;
  font-weight: bold;
}

.family-create-content input,
.family-create-content select,
.family-create-content textarea {
  font-size: 1.1rem;
}

.family-create-content #submit {
  height: 40px;
}

/* Skill Create */
.skill-create-content form {
  display: grid;
  row-gap: 20px;
}
.skill-create-content .form-section {
  display: grid;
  row-gap: 8px;
  font-size: 1.15rem;
  font-weight: bold;
}

.skill-create-content input,
.skill-create-content select,
.skill-create-content textarea {
  font-size: 1.1rem;
}

.skill-create-content #magic-cost {
  width: min-content;
}

.skill-create-content #submit {
  height: 40px;
}

/* Monsterinstance Create */
.monsterinstance-create-content form {
  display: grid;
  row-gap: 20px;
}
.monsterinstance-create-content .form-section {
  display: grid;
  row-gap: 8px;
  font-size: 1.15rem;
  font-weight: bold;
}

.monsterinstance-create-content .stats {
  display: grid;
  grid-template: repeat(3, min-content min-content) / min-content 1fr;
  column-gap: 5px;
}

.monsterinstance-create-content .stat {
  width: min-content;
}

.monsterinstance-create-content .form-section .skills {
  display: flex;
  justify-content: space-around;
  row-gap: 10px;
  flex-wrap: wrap;
  list-style: none;
}

.monsterinstance-create-content input,
.monsterinstance-create-content select,
.monsterinstance-create-content textarea {
  font-size: 1.1rem;
}

.monsterinstance-create-content #submit {
  height: 40px;
}

/* Errors */
.errors {
  color: red;
  list-style: none;
}
