/* Home Page/Monster Metrics */
.monster-metrics-content ul {
  list-style: none;
}

.monster-metrics-content li a {
  color: black;
}

.monster-metrics-content li {
  font-size: 1.3rem;
  font-weight: bold;
}

/* Monster List */
.monster-list-content ul {
  list-style: none;
  display: grid;
  border: 1px solid black;
}

.monster-list-content li {
  padding: 4px;
  border-top: 1px solid black;
}
.monster-list-content li:nth-child(1) {
  border-top: none;
}

.monster-list-content li:nth-child(2n) {
  background-color: rgb(231, 231, 231);
}

.monster-list-content li:nth-child(2n - 1) {
  background-color: rgb(202, 202, 202);
}

.monster-list-content li a {
  color: black;
  vertical-align: bottom;
}

.monster-list-content li p {
  margin: 0;
}

.monster-list-content .name {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}

/* Monster Detail */
.monster-detail-content .family {
  color: black;
  font-size: 1.25rem;
}

.monster-detail-content .info {
  font-size: 1.15rem;
}

.monster-detail-content .info span {
  font-style: normal;
  font-weight: bold;
}

.monster-detail-content .skills {
  font-weight: bold;
  font-size: 1.15rem;
  list-style: none;
}

.monster-detail-content .skills .skill-name {
  font-weight: bold;
  color: black;
}

.monster-detail-content .skills li {
  font-weight: normal;
  font-size: 1rem;
}

.monster-detail-content .stock {
  font-size: 1.15rem;
  font-weight: bold;
}

/* Family List */
.family-list-content ul {
  list-style: none;
  display: grid;
  border: 1px solid black;
}

.family-list-content li {
  padding: 4px;
  border-top: 1px solid black;
}
.family-list-content li:nth-child(1) {
  border-top: none;
}

.family-list-content li:nth-child(2n) {
  background-color: rgb(231, 231, 231);
}

.family-list-content li:nth-child(2n - 1) {
  background-color: rgb(202, 202, 202);
}

.family-list-content li a {
  color: black;
}

.family-list-content li p {
  margin: 0;
}

.family-list-content .name {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}

/* Family Detail */
.family-detail-content .info {
  font-size: 1.15rem;
}

.family-detail-content .info span {
  font-style: normal;
  font-weight: bold;
}

/* Skill List */
.skill-list-content ul {
  list-style: none;
  display: grid;
  border: 1px solid black;
}

.skill-list-content li {
  padding: 4px;
  border-top: 1px solid black;
}
.skill-list-content li:nth-child(1) {
  border-top: none;
}

.skill-list-content li:nth-child(2n) {
  background-color: rgb(231, 231, 231);
}

.skill-list-content li:nth-child(2n - 1) {
  background-color: rgb(202, 202, 202);
}

.skill-list-content li a {
  color: black;
}

.skill-list-content li p {
  margin: 0;
  font-size: 1.1rem;
}

.skill-list-content .name {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}

/* Skill Detail */
.skill-detail-content .info,
.skill-detail-content .magic-cost {
  font-size: 1.15rem;
}

.skill-detail-content .info span,
.skill-detail-content .magic-cost span {
  font-style: normal;
  font-weight: bold;
}
