body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template: 1fr / minmax(min-content, 175px) 1fr;
}

ul,
li,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

.main-nav {
  padding: 20px;
  display: grid;
  row-gap: 40px;
  width: 100%;
  box-sizing: border-box;
}

.main-nav ul {
  display: grid;
  row-gap: 10px;
  justify-items: center;
}

.main-nav ul::after,
.main-nav ul::before {
  content: "";
  border-bottom: 2px dotted black;
  height: 3px;
  width: 100%;
}

.main-nav li {
  list-style: none;
  text-align: center;
}

.content {
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  color: #00b7ff;
}

@media only screen and (max-width: 480px) {
  body {
    grid-template: min-content 1fr / 1fr;
  }

  .main-nav {
    grid-auto-flow: column;
    column-gap: 5px;
  }

  .main-nav ul::after,
  .main-nav ul::before {
    border: none;
  }

  .main-nav ul {
    border-left: 2px dotted black;
    border-right: 2px dotted black;
    height: 100%;
    align-content: start;
    row-gap: 15px;
  }
}
